---

---

<center-l intrinsic=true style="margin-block: var(--size-fluid-4);">
  <sl-card>
    <cluster-l style="align-items: center;">
      <sl-avatar initials="JI" image="https://res.cloudinary.com/dddjom6k3/image/upload/c_fill,w_300,h_300,q_auto,f_auto,g_face/v1667586463/DSC_1061_jxwfrg.jpg" label="That's me!" style="--size: var(--size-11); margin-inline: auto; "> </sl-avatar>
      <div>
        <header class="text-lg"> Hi, I'm <strong> Joseph Izaguirre </strong> </header>
        <div>
          <p> I'm a developer working at the intersection of <strong> Ruby on Rails, Turbo, Stimulus, Turbo Native (Swift / iOS), and Web Components.</strong> I enjoy making web apps and hybrid mobile apps using standard web technologies (HTML, CSS, Javascript) and <%= link_to "majestic monoliths", "https://m.signalvnoise.com/the-majestic-monolith/" %> to empower small teams to do more with less.  </p>
          <p> Currently working on <%= link_to "GroupUp", "https://apps.apple.com/us/app/groupup-find-local-groups/id6444784184" %>, an app to find and form local groups. Follow me on Twitter at <%= link_to "@izaguirrejoe_", "https://twitter.com/izaguirrejoe_" %> or shoot me an email at <a href="mailto:<%= site.metadata.email %>"> <%= site.metadata.email %> </a>
          <p> Talk to me about good urbanism and walkable communities.</p>
        </div>
      </div>
    </cluster-l>
  </sl-card>
</center-l>



<center-l max="60rem">
  <center-l intrinsic=true>
    <h1  style="margin-block: var(--size-8);"> Latest Posts </h1>
  </center-l>
  <grid-l space="var(--size-6);">
    <% collections.posts.resources.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </grid-l>
</center-l>


